h1{
    color: red;
}

body{
    background-color: rgb(30,31,34);
}

h4{
    background-color: blue;
    color: yellow;
}

.item_name{
    color:green;
    margin-bottom: 50px
}

.description{
    font-size: 50px
}

.teg{
    font-style: italic;
    text-align: center;
    font-size: 24px;
    text-shadow: green 2px 2px 4px;
}